
html, body {
  font-family: $font-family-base;
  box-sizing: border-box;
  -webkit-user-select: none;

}

a {
  text-decoration: none;
  color: $link-color;
}

ul {
  margin: 0;
}

h1 {
  line-height: 130%;

}

body {
  font-size: 100%;
  overflow: hidden;
  margin: 0;
  //background-size: cover;
}

//Clean autocomplete colors
input:-webkit-autofill:focus,
textarea :-webkit-autofill:focus,
select:-webkit-autofill:focus,
input:-webkit-autofill,
textarea :-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  background-color: $white !important;
  color: $gray !important;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  cursor: pointer;
  display: block;
  width: 8px;
  color: #fff;
  text-align: center;
  position: relative;
}

input[type=number]::-webkit-inner-spin-button:before,
input[type=number]::-webkit-inner-spin-button:after {
  content: "^";
  font-weight: bold;
  position: absolute;
  right: 0;
  font-family: monospace;
  line-height: 0;
}

input[type=number]::-webkit-inner-spin-button:before {
  top: 15px;
}

input[type=number]::-webkit-inner-spin-button:after {
  bottom: 15px;
  -webkit-transform: rotate(180deg);
}

input[type=file] {
  display: none;
  & + label {
    @extend .btn;
    padding: 0 10px;
  }
}

//Video conf
video::-webkit-media-text-track-container {
  // Style the container
}

video::-webkit-media-text-track-background {
  // Style the text background
}

//video::-webkit-media-text-track-display {
//  -moz-transform: translateY(-2em);
//  -ms-transform: translateY(-2em);
//  -o-transform: translateY(-2em);
//  -webkit-transform: translateY(-2em);
//  transform: translateY(-2em);
//}
//
//.video-js.vjs-user-inactive.vjs-playing video::-webkit-media-text-track-display {
//  -moz-transform: translateY(-2em);
//  -ms-transform: translateY(-2em);
//  -o-transform: translateY(-2em);
//  -webkit-transform: translateY(-2em);
//  transform: translateY(-2em);
//}

video::-webkit-media-text-track-display, video::cue {
  color: #fff;
  //font-family: $font-family-titles;
  font-size: 3.2vw !important;
  font-style: normal !important;
  font-weight: bold !important;
  //line-height: 1.2 !important;
  text-align: center;
  text-shadow: 0px 0px 10px #000, -2px -2px 1px #000, 2px -2px 1px #000, -2px 2px 1px #000, 2px 2px 1px #000;
  pointer-events: auto !important;
  background-color: transparent !important;

  -moz-transform: translateY(-3rem) !important;
  -ms-transform: translateY(-3rem) !important;
  -o-transform: translateY(-3rem) !important;
  -webkit-transform: translateY(-3rem) !important;
  transform: translateY(-3rem) !important;

}