
.flow-text {
  @extend .flow-text;
  font-size: 2.8vh;
}

.nav-bar-movie-details {
  .dropdown a {
    @extend .flow-text;
    i {
      font-size: 2.5vh !important;
    }
  }
}

.main-nav-filter-movies {
  .dropdown {
    i {
      font-size: 2vh !important;
    }
  }
}

.result-search-box {
  @include border-radius(5px);
  background-color: rgba(0, 0, 0, 0.9);

  i {
    font-size: 1.8vh !important;
    margin-right: 2px;
  }

  figure {
    width: 3rem;
    height: auto;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .collection-item:hover {
    background-color: rgba(0, 0, 0, 1);
  }
}